<div class="book-detail">
    <div *ngIf="!edit">
        <dl>
            <dt>title</dt>
            <dd>{{book.title}}</dd>
            <dt>author</dt>
            <dd>{{book.author}}</dd>
            <dt>gender</dt>
            <dd>{{book.gender}}</dd>
            <dt>isbn</dt>
            <dd>{{book.isbn}}</dd>
            <dt>date</dt>
            <dd>{{book.date | date:'dd/MM/yyyy'}}</dd>
            <dt>users</dt>
            <dd>
                <a *ngFor="let user of book.users; last as isLast" routerLink="/user/{{user.id}}">
                    {{user.name}}<span *ngIf="!isLast">, </span>
                </a>
            </dd>
        </dl>
        <button type="button" class="book-edit-button" (click)="edit=true">edit</button>
    </div>

    <app-book-form [book]="bookSelected" [originalIsbn]="isbnOriginal" showCancel="true" (onSubmit)="editBook($event)" (onCancel)="cancel()"
        *ngIf="edit"></app-book-form>

</div>
