<div class="books-search">
  <input type="text" [(ngModel)]="text">
  <button type="button" class="books-search-button" [disabled]="optionsChecked.length === 0" (click)="search()">search</button>
  <div class="books-search-filters-container">
    <div class="books-search-filters" *ngFor="let option of options; let ind=index">
      <input type="checkbox" id="options-{{ind}}" name="options" value="{{option}}" [disabled]="disabled[option]" [checked]="optionsChecked.indexOf(option) >= 0"
        (change)="updateOptions(option, $event)" />
      <label for="options-{{ind}}">
        <span></span> {{option}}
      </label>
    </div>
  </div>
</div>
<app-books-table [booksList]="books"></app-books-table>
